.content {
  position: relative;
}

.card-wrap {
  max-width: 100rem;
  width: 100%;
  min-height: 50rem;
  margin: 0 auto;
  margin-top: 20rem;
}

.card-wrap .navigation {
  margin-bottom: 8rem;
}

.card-wrap .navigation-list {
  display: flex;
  align-items: center;
}
.card-wrap .navigation-list > li {
  flex: 1;
  display: flex;
  align-items: center;
  height: 7rem;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  padding: 1.5rem 3.5rem;
  cursor: pointer;
}

.card-wrap .navigation-list > li.item1 {
  background: #2392c0;
}
.card-wrap .navigation-list > li.item2 {
  background: #a90067;
}
.card-wrap .navigation-list > li.item3 {
  background: #018577;
}
.card-wrap .navigation-list > li.item4 {
  background: #e65d17;
}

.carousel-wrap {
  overflow: hidden;
}

.carousel-item {
  display: flex;
}

.carousel-item > div {
  flex: 1;
}

.carousel-item > div.info-img img {
  width: 100%;
}

.carousel-item .info-text h3 {
  font-weight: normal;
  font-size: 3.5rem;
  margin-bottom: 4rem;
}

.carousel-item .info-text ul {
  padding-left: 2rem;
  font-size: 1.8rem;
}

.carousel-item .info-text li {
  font-weight: light;
  line-height: 1.4;
  list-style: disc;
}

.btn-common {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  tranform: translateY(-50%);
}
.btn-prev {
  left: -5rem;
}
.btn-next {
  right: -5rem;
}

.highlight-blue {
  color: #2392c0;
}

.header {
  width: 100%;
  background-color: #232f3e;
  height: 11rem;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.header-item {
  display: inline-block;
  height: 6rem;
}

.company-logo {
  width: 32rem;
  min-width: 90px;
  margin-right: 2rem;
}

.service-info {
  width: 65rem;
  min-width: 150px;
  height: 6rem;
}

.search-box-container {
  border: none;
  display: flex;
  width: 100%;
  height: 4rem;
  margin-top: 1rem;
  position: relative;
}

.search-form {
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  position: static;
}

.select-classification,
.btn-search {
  width: 5rem;
  height: 100%;
  vertical-align: middle;
  border-radius: 0.2rem;
}

.btn-search {
  background-color: goldenrod;
  border: 0;
}

.company-logo img,
.service-info img,
.btn-search img {
  width: 100%;
  height: 100%;
}

.modal-autocomplete,
.modal-recent {
  background-color: white;
  width: calc(100% - 10rem);
  position: absolute;
  top: 4rem;
  left: 5rem;
}

.modal-autocomplete,
.modal-recent {
  border: 1px solid #eee;
  z-index: 1;
}

.modal-autocomplete li,
.modal-recent li {
  height: 4rem;
  line-height: 4rem;
  font-size: 1.6rem;
  font-weight: bold;
}
